body {
    line-height: 1.6;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h2 {
    margin-bottom: 10px;
}
.main-heading {
    text-align: center;
    color: #222;
}

p {
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}
.container {
    width: 800px;
    margin: auto;
}