body {
    line-height: 1.6;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h2 {
    margin-bottom: 10px;
}

.main-heading {
    text-align: center;
    color: #222;
}

p {
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.container {
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-between;

}